body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 20px;
}
.chart-container {
    width: 60%;
}
.info-container {
    width: 35%;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.info-container h3 {
    text-align: center;
}
.info-item {
    margin: 10px 0;
    font-size: 18px;
}
button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button:hover {
    background: darkred;
}
button:disabled {
    background-color: #888;
    color: #ccc;
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
